<po-page-default p-title="Relatórios">
    <po-breadcrumb [p-items]="[{ label: 'Home', link: '/' }, { label: 'Relatórios' }]"></po-breadcrumb>
    <div class="po-row po-mt-5">
        <po-button p-label="Vendas do Vendedor"></po-button>
    </div>
    <div class="po-row po-mt-5">
        <po-button p-label="Vendas da Empresa"></po-button>
    </div>
    <div class="po-row po-mt-5">
        <po-button p-label="Contas a Vencer"></po-button>
    </div>
    <div class="po-row po-mt-5">
        <po-button p-label="Contas a Receber"></po-button>
    </div>
    
</po-page-default>