<div class="po-wrapper" *ngIf="usuario">
    <nav>
        <po-toolbar [p-profile]="profile" p-title="SKOLL" [p-profile-actions]="profileActions"
            [p-notification-actions]="notificationActions" p-shadow="true" [p-notification-number]="2">
        </po-toolbar>
        <po-menu [p-menus]="menus" p-collapsed="true">
            <div *p-menu-header-template class="po-p-2 po-font-title sample-menu-header-text-color">
                <p class="po-font-title">Bem vindo,</p>
                <p>
                    <b class="po-font-subtitle po-font-text-bold po-font-text-uppercase">{{ usuario.nome}}</b>
                </p>
            </div>
        </po-menu>
    </nav>
    <router-outlet></router-outlet>
</div>
<router-outlet *ngIf="!usuario">
</router-outlet>
