<po-page-default>

    <po-breadcrumb [p-items]="[{ label: 'Home', link: '' }]">
    </po-breadcrumb>

    <div class="po-row">
        <div class="po-lg-6">
            <po-chart class="po-lg-12 po-mt-2" p-title="Fechamentos de contratos em relação ao ultimo mês" [p-height]="300"
                [p-series]="brazilianCoffeeProduction" [p-type]="brazilianCoffeeProductionChartType">
            </po-chart>

            <po-chart class="po-lg-12 po-mt-2" p-title="Top 5 Produtos"
                [p-series]="coffeeProduction" (p-series-click)="searchMore($event)">
            </po-chart>
        </div>

        <div class="po-lg-6">
            <div class="po-row">
                <po-chart class="po-lg-12 po-mt-2" [p-height]="500"
                    p-title="Top 5 Vendedores" [p-series]="coffeeConsumption"
                    [p-type]="coffeConsumingChartType" (p-series-click)="showMeTheDates($event)">
                </po-chart>

                <po-widget class="po-lg-6 po-mt-2" p-height="200">
                    <div class="po-font-title po-text-center po-pt-5">234</div>
                    <div class="po-text-center">Anúncios publicados</div>
                </po-widget>    

                <po-widget class="po-lg-6 po-mt-2" p-height="200">
                    <div class="po-font-title po-text-center po-pt-5">432</div>
                    <div class="po-text-center">Contratos fechados</div>
                </po-widget>
            </div>
        </div>
    </div>


</po-page-default>