<po-page-default p-title="Novo Vendedor" [p-breadcrumb]="breadcrumb" [p-actions]="actions">

    <form class="po-ml-5">
        <h3 class="po-font-text">Informações básicas</h3>
        <po-divider></po-divider>
        <div class="po-row">
            <po-input class="po-md-5 " formControlName="name" p-auto-focus p-label="Nome" p-required
                p-icon="po-icon-user">
            </po-input>
        </div>
        <div class="po-row">
            <po-email p-label="Código" class="po-md-4 po-lp-1">
            </po-email>
        </div>
        <div class="po-row po-mb-5">
            <po-input class="po-md-3 po-lp-1" name="CPF" p-auto-focus p-label="CPF" p-mask="999.999.999-99" p-required>
            </po-input>
        </div>
    </form>
</po-page-default>